body { 
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    min-height: 100vh;        /* Garante 100% da altura da Viewport */
    background-color: #f0f2f5; /* Cor de fundo suave (como na imagem) */
}

.card { 
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26); 
    display: flex;
    flex-direction: column;
}


.header-card {
    margin-bottom: 30px;
    position: relative;
    text-align: left; 
}


.back-link {
    color: #555;
    text-decoration: none;
    font-size: 0.9rem;
    display: block; 
    margin-bottom: 20px;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.card .subtitle {
    color: #444444;
    margin-top: 0;
    margin-bottom: 25px; 
}