.dashboard {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: #d6d6d6;
}

h1 {
  font-size: 32px;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  background: #1A3D64;
  flex: 1;
  min-width: 260px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 0px 6px #0001;
}

.icon {
  font-size: 80px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  color: #bbbbbb;
  margin-bottom: 15px;
}

.btn {
  padding: 15px 140px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.entrada-btn {
  background: #007bff;
  transition: 0.25s ease;
  letter-spacing: 0.3px;
}

.entrada-btn:hover {
  background: #3094ff;
  box-shadow: 0px 0px 6px #006adb;
  transform: translateY(-5px);
}

.saída-btn {
  background: #ff5751;
  transition: 0.25s ease;
  letter-spacing: 0.3px;
}

.saída-btn:hover {
  background: #ff625d;
  box-shadow: 0px 0px 8px #ff2c24;
  transform: translateY(-5px);
}

/* Card info */
.info {
  background: #1A3D64;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #252525;
  box-shadow: 0px 0px 6px #1d546c86;
}

.info h3 {
  margin-bottom: 15px;
  color: white;
}

.info ul {
  color: #bdbdbd;
  line-height: 1.6;
}

.aviso-topo {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4ade80;
  padding: 12px 16px;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: fade .3s ease;
}

@keyframes fade {
  from { opacity: 0; transform: translate(-50%, -10px); }
  to   { opacity: 1; transform: translate(-50%, 0); }
}
