* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  direction: column;
}

input {
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    padding: 0.8rem; 
    color: #3b3b3b;
    margin-bottom: 1.5rem; 
    width: 100%; 
    box-sizing: border-box; 
    transition: 0.3s ease;
}

input:focus {
    border-color: #0084ff; 
    outline: none; 
}

input:focus {
    border-color: #0085dd;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 132, 255, 0.61);
}

.form label,
label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000327;
  display: block;
  margin-bottom: 0.3rem;
}

.title-label {
    display: flex;
    flex-direction: column;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    text-align: left;
}


.radio-option input[type="radio"] {
    width: auto;
    height: auto;
    margin-right: 8px; 
    margin-bottom: 0;
}


.radio-option label {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    cursor: pointer;
    color: #3b3b3b;
}

