<div class="form-container">
  <div class="form-box">
    
    @for (field of fields; track field.name) {
      <div class="field-container">
        <label [for]="field.name">{{ field.label }}</label>

        @if (!field.options) {
          <input 
            [type]="field.type"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            (input)="onFieldChange(field, $event)"
            required
          />
        } @else {
          <div class="radio-group">
            @for (option of field.options; track option.value) {
              <label class="radio-option">
                <input 
                  type="radio"
                  [id]="field.name + '-' + option.value"
                  [name]="field.name" 
                  [value]="option.value"
                  (change)="onFieldChange(field, $event)"
                />
                <span>{{ option.label }}</span>
              </label>
            }
          </div>
        }
      </div>
    } @empty {
      <p>Nenhum campo de formulário definido.</p>
    }

  </div>
</div>
