body { 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;        
    background-color: #f0f2f5;
}

.card { 
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26); 
    display: flex;
    flex-direction: column;
}

.card img {
    margin-bottom: -60px;
}

.link-cadastro {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
}

.link-cadastro a {
    color: #007bff;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #1a1a1a;
}

.subtitle {
    text-align: center;
    color: #000000;
    font-size: 16px;
}