body { 
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;        
    background-color: #f0f2f5;
}

.card { 
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26); 
    display: flex;
    flex-direction: column;
}
