.btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  background: #0e78cc;
  color: #ffffff;
  transition: 0.25s ease;
  outline: none;
}

.btn:hover {
  background: #0c5fa3;
  box-shadow: 0 0 10px rgba(14, 120, 204, 0.4);
  outline: none;
}
