  .btn { 
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    transition: all linear 160ms;
    cursor: pointer;
    margin-top: 10px;
  }

.btn:hover {
  opacity: 1;
  
}