.container {
  padding: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: #0b0e13	;
  min-height: 100vh;

  color: #CBD5E1;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.dashboard-wrapper {
  padding: 24px;
  width: 100%;
  margin: 0 auto;
  color: #CBD5E1;
  background-color: #0b0e13	;
  min-height: 100vh;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 24px;
}

.card {
  background: #0b0e13	;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 16px;
}

.label {
  margin: 0 0 4px 0;
  color: #94A3B8;
}

h2 {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
}

.green { color: #4ADE80; }
.blue  { color: #60A5FA; }
.red   { color: #F87171; }

/* TABELA */
.box {
  background: #0b0e13	;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 20px;
}

h3 {
  margin: 0 0 16px 0;
  color: #E2E8F0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-bottom: 12px;
  border-bottom: 1px solid #334155;
  color: #94A3B8;
  text-align: left;
}

td {
  padding: 12px 0;
  border-bottom: 1px solid #33415522;
}

/* TAGS DE TIPO */
.tag {
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.credito { background: #4ADE8022; color: #4ADE80; }
.debito  { background: #F8717122; color: #F87171; }
.estorno { background: #FACC1522; color: #FACC15; }

/* VALORES */
.positivo {
  color: #4ADE80;
  font-weight: 600;
}

.negativo {
  color: #F87171;
  font-weight: 600;
}

.linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.linha input {
  flex: 1;
  padding: 12px 16px;
  background: #0b0e13	;
  border: 1px solid #334155;
  border-radius: 8px;
  color: #E2E8F0;
  font-size: 15px;
}

.linha input::placeholder {
  color: #64748B;
}

.linha button {
  background: #4ADE80;
  color: #0F172A;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}


.linha button:hover {
  background-color: #6affa1;
  box-shadow: 0px 0px 4px #27fa74;
}
